[submodule "v1/zmk-helpers"]
	path = v1/zmk-helpers
	url = https://github.com/urob/zmk-helpers.git
[submodule "v1/zmk"]
	path = v1/zmk
	url = https://github.com/zmkfirmware/zmk.git
[submodule "v1/hillside-module"]
	path = v1/hillside-module
	url = git@github.com:JeppeKlitgaard/hillside-module.git
