#include "my_behaviors.dtsi"
#include "zmk-helpers/key-labels/hillside52.h"
#include "homerow_mods.dtsi"

#define XXX &none
#define ___ &trans

// Alpha-like layers
#define L_BASE 0

// Right hand layers
#define L_NAV 1

// Left hand layers
#define L_NUM 2
// #define L_SYM 3

// TODO:
// Greek
// Danish
// Macro
// Media
// Buttons

//! =======================================================================================================================================================================================================================================================================================================================================================
//! ALPHA-LIKE LAYERS
//! =======================================================================================================================================================================================================================================================================================================================================================
//* Base – Gallium
/*
╭─────────┬─────────┬─────────┬─────────┬─────────┬─────────╮                                             ╭─────────┬─────────┬─────────┬─────────┬─────────┬─────────╮
│         │    B    │    L    │    D    │    C    │    V    │                                             │    J    │    Y    │    O    │    U    │         │         │
├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                                             ┼─────────┼─────────┼─────────├─────────┼─────────┼─────────┼
│         │    N    │    R    │    T    │    S    │    G    │                                             │    P    │    H    │    A    │    E    │    I    │         │
├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────╮                         ╭─────────┼─────────┼─────────┼─────────├─────────┼─────────┼─────────┼
│         │    X    │    Q    │    M    │    W    │    Z    │         │                         │         │    K    │    F    │         │         │         │         │
├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────╮     ╭─────────┼─────────┼─────────┼─────────┼─────────├─────────┼─────────┼─────────┼
│         │         │         │         │         │   ESC   │  SPACE  │   TAB   │     │  ENTER  │  BSPC   │   DEL   │         │         │         │         │         │
╰─────────┴─────────┴─────────╯         ╰─────────┴─────────┴─────────┴─────────╯     ╰─────────┴─────────┴─────────┴─────────╯         ╰─────────┴─────────┴─────────╯
*/
ZMK_LAYER(base_layer,
// ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮                                                                                         ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮
     XXX                  &kp B                &kp L                &kp D                &kp C                &kp V                                                                                                          &kp J                &kp Y                &kp O                &kp U                XXX                  XXX
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤                                                                                         ┼────────────────────┼────────────────────┼────────────────────├────────────────────┼────────────────────┼────────────────────┼
     XXX                  &hml LGUI N          &hml LALT R          &hml LCTRL T         &hml LSHIFT S        &kp G                                                                                                          &kp P                &hmr RSHIFT H        &hmr RCTRL A         &hmr RALT E          &hmr RGUI I          XXX
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────╮                                               ╭────────────────────┼────────────────────┼────────────────────┼────────────────────├────────────────────┼────────────────────┼────────────────────┼
     XXX                  &kp X                &kp Q                &kp M                &kp W                &kp Z                XXX                                                                  XXX                  &kp K                &kp F                XXX                  XXX                  XXX                  XXX
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────╮     ╭────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────├────────────────────┼────────────────────┼────────────────────┼
     XXX                  XXX                  XXX                                       XXX                  &kp ESCAPE           &lt L_NAV SPACE      &kp TAB                    &kp ENTER            &lt L_NUM BACKSPACE  &kp DELETE           XXX                                       XXX                  XXX                  XXX
// ╰────────────────────┴────────────────────┴────────────────────╯                    ╰────────────────────┴────────────────────┴────────────────────┴────────────────────╯     ╰────────────────────┴────────────────────┴────────────────────┴────────────────────╯                    ╰────────────────────┴────────────────────┴────────────────────╯
)

//! =======================================================================================================================================================================================================================================================================================================================================================
//! RIGHT HAND LAYERS
//! =======================================================================================================================================================================================================================================================================================================================================================
//* Navigation
/*
╭─────────┬─────────┬─────────┬─────────┬─────────┬─────────╮                                             ╭─────────┬─────────┬─────────┬─────────┬─────────┬─────────╮
│         │         │         │         │         │         │                                             │         │  LC(←)  │  LC(↓)  │  LC(↑)  │  LC(→)  │         │
├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                                             ┼─────────┼─────────┼─────────├─────────┼─────────┼─────────┼
│         │   GUI   │   ALT   │  CTRL   │  SHIFT  │         │                                             │         │    ←    │     ↓   │    ↑    │    →    │         │
├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────╮                         ╭─────────┼─────────┼─────────┼─────────├─────────┼─────────┼─────────┼
│         │         │         │         │         │         │         │                         │         │         │  HOME   │ PG_DOWN │  PG_UP  │   END   │         │
├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────╮     ╭─────────┼─────────┼─────────┼─────────┼─────────├─────────┼─────────┼─────────┼
│         │         │         │         │         │         ┼┼┼┼┼┼┼┼┼┼┼         │     │         │  ENTER  │  BSPC   │   DEL   │         │         │         │         │
╰─────────┴─────────┴─────────╯         ╰─────────┴─────────┴─────────┴─────────╯     ╰─────────┴─────────┴─────────┴─────────╯         ╰─────────┴─────────┴─────────╯
*/
ZMK_LAYER(nav_layer,
// ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮                                                                                         ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮
     XXX                  XXX                  XXX                  XXX                  XXX                  XXX                                                                                                            XXX                  &kp LC(LEFT)         &kp LC(DOWN)         &kp LC(UP)           &kp LC(RIGHT)        XXX
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤                                                                                         ┼────────────────────┼────────────────────┼────────────────────├────────────────────┼────────────────────┼────────────────────┼
     XXX                  &kp LGUI             &kp LALT             &kp LCTRL            &kp LSHIFT           XXX                                                                                                            XXX                  &kp LEFT             &kp DOWN             &kp UP               &kp RIGHT            XXX
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────╮                                               ╭────────────────────┼────────────────────┼────────────────────┼────────────────────├────────────────────┼────────────────────┼────────────────────┼
     XXX                  XXX                  XXX                  XXX                  XXX                  XXX                  XXX                                                                  XXX                  XXX                  &kp HOME             &kp PAGE_DOWN        &kp PAGE_UP          &kp END              XXX
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────╮     ╭────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────├────────────────────┼────────────────────┼────────────────────┼
     XXX                  XXX                  XXX                                       XXX                  XXX                  XXX                  XXX                        &kp ENTER            &kp BACKSPACE        &kp DELETE           XXX                                       XXX                  XXX                  XXX
// ╰────────────────────┴────────────────────┴────────────────────╯                    ╰────────────────────┴────────────────────┴────────────────────┴────────────────────╯     ╰────────────────────┴────────────────────┴────────────────────┴────────────────────╯                    ╰────────────────────┴────────────────────┴────────────────────╯
)

//! =======================================================================================================================================================================================================================================================================================================================================================
//! LEFT HAND LAYERS
//! =======================================================================================================================================================================================================================================================================================================================================================

//* Numbers
/*
╭─────────┬─────────┬─────────┬─────────┬─────────┬─────────╮                                             ╭─────────┬─────────┬─────────┬─────────┬─────────┬─────────╮
│         │         │    7    │    8    │    9    │         │                                             │         │         │         │         │         │         │
├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                                             ┼─────────┼─────────┼─────────├─────────┼─────────┼─────────┼
│         │         │    4    │    5    │    6    │         │                                             │         │  SHIFT  │  CTRL   │   ALT   │   GUI   │         │
├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────╮                         ╭─────────┼─────────┼─────────┼─────────├─────────┼─────────┼─────────┼
│         │         │    1    │    2    │    3    │         │         │                         │         │         │         │         │         │         │         │
├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────╮     ╭─────────┼─────────┼─────────┼─────────┼─────────├─────────┼─────────┼─────────┼
│         │         │         │         │         │         │    0    │         │     │         │┼┼┼┼┼┼┼┼┼┼         │         │         │         │         │         │
╰─────────┴─────────┴─────────╯         ╰─────────┴─────────┴─────────┴─────────╯     ╰─────────┴─────────┴─────────┴─────────╯         ╰─────────┴─────────┴─────────╯
*/
ZMK_LAYER(num_layer,
// ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮                                                                                         ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮
     XXX                  XXX                  &kp N7               &kp N8               &kp N9               XXX                                                                                                            XXX                  XXX                  XXX                  XXX                  XXX                  XXX
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤                                                                                         ┼────────────────────┼────────────────────┼────────────────────├────────────────────┼────────────────────┼────────────────────┼
     XXX                  XXX                  &kp N4               &kp N5               &kp N6               XXX                                                                                                            &kp LSHIFT           &kp RCTRL            &kp RALT             &kp RGUI             XXX                  XXX
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────╮                                               ╭────────────────────┼────────────────────┼────────────────────┼────────────────────├────────────────────┼────────────────────┼────────────────────┼
     XXX                  XXX                  &kp N1               &kp N2               &kp N3               XXX                  XXX                                                                  XXX                  XXX                  XXX                  XXX                  XXX                  XXX                  XXX
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────╮     ╭────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────├────────────────────┼────────────────────┼────────────────────┼
     XXX                  XXX                  XXX                                       XXX                  XXX                  &kp N0               XXX                        XXX                  XXX                  XXX                  XXX                                       XXX                  XXX                  XXX
// ╰────────────────────┴────────────────────┴────────────────────╯                    ╰────────────────────┴────────────────────┴────────────────────┴────────────────────╯     ╰────────────────────┴────────────────────┴────────────────────┴────────────────────╯                    ╰────────────────────┴────────────────────┴────────────────────╯
)

